.nj-dropdown {
    cursor: pointer;
    user-select: none;
}

.nj-dropdown-button.button {
    border: 1px solid #333;
    padding: 8px;
}

.nj-dropdown.menu {
    border: 1px solid #333;
}

.rounded {
    border-radius: 5px;
}
